@page "/activities"
@using Gymbex.Blazor.Components

<div class="activities">
    <div class="alerts-box">
        <AlertBlazor
            IsVisible="true"
            Class="@(IsError ? "alert alert-danger" : "alert alert-success")" 
            IsError="IsError" 
            Content="@Content" />
    </div>
    <div class="activities-box">
        

        <h3>Dostępne zajęcia</h3>
        <table class="activity-table">
            <thead>
                <tr>
                    <th>Nazwa zajęć</th>
                    <th>Data zajęć</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ActivitiesList)
                {
                    @if (item.Date.Date > DateTime.Now.Date)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Date.Date.ToString("yyyy-MM-dd")</td>
                            <td>
                                <button class="btn btn-primary btn-lg" data-bs-toggle="alert" data-bs-target="#myAlert" @onclick="@(async () => {await RegisterOnActivity(item.Id);})">Zapisz się</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
