
@typeparam T

<div class="title">
    <h3>@Title</h3>
    <AuthorizeView>
        <Authorized>
            @if(IsAdmin)
            {
                <button type="button" class="btn btn-success btn-lg">Dodaj</button>
            }
        </Authorized>
    </AuthorizeView>
</div>
<table class="table admin-table-width">
    <thead>
        <tr>
            @foreach (var property in GetProperties().Skip(1))
            {
                <th>@property.Name</th>
            }
            @if (ShowActionHeader)
            {
                <th>Akcja</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CurrentPageItems)
        {
            <tr>
                @foreach (var property in GetProperties().Skip(1))
                {
                    <td>@(property.GetValue(item) is null ? "Brak" : property.GetValue(item))</td>
                }
                <td>
                    @if (HaveChildContent)
                    {
                        <AuthorizeView>
                            <Authorized>
                                @ChildContent(item)
                            </Authorized>
                        </AuthorizeView>
                    }
                </td>
            </tr>
            
        }
    </tbody>
</table>

<div class="pagination-box">
    <div class="pagination-buttons">
        <button class="btn btn-primary" disabled="@IsFirstPage" @onclick="GoToPreviousPage"> @("<") </button>
        @for (int pageNumber = 1; pageNumber <= totalPages; pageNumber++)
        {
            int currentPageNumber = pageNumber; // Użyj zmiennej lokalnej currentPageNumber

            <button class="btn btn-link @(currentPageNumber == currentPage ? "active-page" : "")" @onclick="() => GoToPage(currentPageNumber)">@currentPageNumber</button>
        }
        <button class="btn btn-primary" disabled="@IsLastPage" @onclick="GoToNextPage">@(">")</button>
    </div>
    <div class="pagination-infos">
        <p>Bieżąca strona: @currentPage</p>
        <p>Ilość stron: @totalPages</p>
    </div>
</div>
